@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@1,900&family=Playfair+Display:ital@0;1&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap");

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0c2340;
  position: sticky;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
  z-index: 2;
  font-family: "Playfair Display", serif;
  position: sticky;
  top: -60px;
  gap: 20px;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  flex-direction: column;
}

.img-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 20px; */
  cursor: pointer;
}

.nav-left h3 {
  display: inline;
}

.nav-left img {
  width: 1rem;
}

.login {
  font-size: -10rem;
}

.nav-right img {
  height: 1rem;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-mid {
  color: white;
  margin-left: 10px;
}

.nav-mid img {
  width: 7rem;
}

.nav-right {
  color: white;
  cursor: pointer;
}

.nav-right .icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.search {
  position: relative;
}

.search input {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.search-2 input {
  display: none;
}

.nav-right .hamburger {
  display: contents;
}

.cart-icon {
  color: white;
}

.navigation {
  position: sticky;
  padding: 5px;
  background-color: #0c2340;
  z-index: 1;
  top: -1px;
}

.menu-icon,
.img-name {
  color: white;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 1px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
}

.navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
}

.navigation ul li a:hover {
  color: gold;
}

.img4 a,
.img3 a {
  color: white;
}

.active a {
  color: goldenrod;
}

.inactive {
  color: white;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .nav-right .hamburger {
    display: contents;
  }


  .search {
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 15px;
    min-width: 100%;
    height: 40px;
  }

  .search input {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }

  .nav-right .img1 {
    display: none;
  }

  .nav-right img {
    gap: 30px;
  }

  .nav-right .img4 {
    display: none;
  }

  .nav-right .img3 {
    display: none;
  }

  .nav-mid {
    display: none;
  }
}